<!DOCTYPE html>
<html>
<body>

<h1>CRM</h1>

<p>Add Contacts</p>
<form action = "/contacts" method = "post"> 
<input type = "text" name = "first_name">
<input type = "text" name = "last_name">
<input type = "text" name = "email_address">
<input type = "text" name = "notes">
<input type = "submit" name = "submit">
</form>

</body>
</html>