<div class="container">
<h1>Welcome to Drew's CRM</h1>

<p>Possibly the Best CRM of All Time ... Possibly</p>
<div class= "guts">
<ul>
	<li class= "homeli"><a href = "/contacts" title = "to see all contacts">All Contacts</a></li>
	<li class= "homeli"><a href = "/contacts/new" title = "to add another contact">Add Contact</a></li>
</ul>
</div>
</div>