<h1>CRM</h1>

<p>Contact Info</p>

<p><%= @contact.first_name %> <%= @contact.last_name %></p>
<p><strong>Email:</strong> <%= @contact.email_address %></p>
<p><strong>Note:</strong></p>
<p><%= @contact.notes %></p>


<button type="button">Edit</button>

<button type="button">Delete</button>